#grid-container{
    box-sizing: border-box;
    display: grid;
    background-color: lightgrey;
}

.grid-item{
    border: 1px solid black;
    padding: 12px;
    text-align: center;
}

.hover{
    background-color: black;
}