body{
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container-border{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1100px;
    height: 1100px;
    background-color: red;
    border: 6px solid black;
    border-radius: 10px;
    box-shadow: 10px 5px 5px rgb(129, 129, 129);
}
#grid-container{
    width: 960px;
    height: 960px;
    border: 5px solid black;
    display: grid;
    background-color: lightgrey;
}

.grid-item{
    border: 1px solid black;
}

.hover{
    background-color: black;
}

button{
    width: 260px;
    height: 130px;
    font-size: 32px;
    font-weight: 700;
    background-color: rgb(45, 45, 214);
    color: white;
    margin-bottom: 20px;
    border: 3px solid black;
    border-radius: 10px;
}